body {
    background-color: pink;
    text-align: center;
}

.whiteText {
    color: white;
}

h1:hover {
    color: black;
}

#name {
    font-weight: bold;
}

img {
    display: block;
    margin: 0 auto;
    width: 10%;
}

#list {
    font-weight: bold;
    display: inline-block;
    text-align: left;
}

h2 {
    width: 20%;
    margin: 0 auto;
}

#title {
    width: 25%;
    margin: 0 auto;
}